.btn {
  cursor: pointer;
  text-decoration: none;
  padding: 10px 40px;
  border: solid 2px #22314a;
  background-color: white;
  color: #22314a;
  font-size: 11px;
  font-weight: 600;
  transition: all 0.4s ease;
}

.btn.slide-bg {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn span {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #22314a;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: -1;
}

.btn:hover {
  color: white;
}

.btn:hover span {
  transform: translateX(0);
}

@media (min-width: 768px) {
  .btn {
    border: solid 3px #22314a;
    font-size: 20px;
  }
}

.animate-title {
  opacity: 0;
  display: inline-block;
  transform: translateY(50%);
  transition: all 0.8s ease-out;
}

.animate-title.inview {
  opacity: 1;
  transform: translateY(0);
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.cover-slide {
  position: relative;
  overflow: hidden;
}

.cover-slide::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: darkgray;
  z-index: 100;
  opacity: 0;
}

.cover-slide.inview::after {
  opacity: 1;
  animation-name: kf-slide-cover;
  animation-duration: 1.6s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}

@keyframes kf-slide-cover {
  0% {
    transform-origin: left;
    transform: scaleX(0);
  }
  50% {
    transform-origin: left;
    transform: scaleX(1);
  }
  50.1% {
    transform-origin: right;
    transform: scaleX(1);
  }
  100% {
    transform-origin: right;
    transform: scaleX(0);
  }
}

.cover-slide__img {
  opacity: 0;
}

.inview .cover-slide__img {
  opacity: 1;
  transition: all 0.3s ease;
  animation-name: kf-img-show;
  animation-duration: 1.6s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: normal;
}

@keyframes kf-img-show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.swiper-container {
  margin: 0 auto;
}

.swiper-slideimg > img, .swiper1 > img, .swiper2 > img {
  width: auto;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

/*** swiper1 ***/
.swiper1 {
  height: 70vw;
}

.swiper1.swiper-container {
  overflow: hidden !important;
}

.swiper1 .swiper-pagination span {
  outline: none;
}

/*** swiper2 ***/
.swiper2 {
  width: 85%;
  height: auto;
}

.swiper2.swiper-container {
  overflow: visible !important;
}

.swiper2 .swiper-slide > img {
  box-shadow: 0px 13px 20px 0px rgba(0, 0, 0, 0.4);
}

.swiper2 .swiper-button-prev,
.swiper2 .swiper-button-next {
  width: 40px;
  margin-top: -20px;
  outline: none;
}

.swiper2 .swiper-button-prev::after,
.swiper2 .swiper-button-next::after {
  content: '';
}

.swiper2 .swiper-button-prev::before {
  font-family: "Font Awesome 5 Free";
  content: "\f359";
  font-size: 40px;
  font-weight: 400;
  color: #22314a;
}

.swiper2 .swiper-button-next::before {
  font-family: "Font Awesome 5 Free";
  content: "\f35a";
  font-size: 40px;
  font-weight: 400;
  color: #22314a;
}

body {
  margin: 0;
}

img {
  object-fit: cover;
}

.global-container {
  overflow: hidden !important;
}

.max-width, .about, .footer__inner {
  box-sizing: border-box;
  width: 80%;
  margin: 0 auto;
  max-width: 1024px;
}

.title {
  margin-top: 40px;
  margin-bottom: 40px;
  display: inline-block;
  font-family: "'Roboto Condensed', sans-serif";
  font-size: 28px;
  font-weight: 600;
  color: #22314a;
  border-bottom: solid 2px #22314a;
}

button {
  margin-top: 35px;
  margin-bottom: 35px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.logo {
  display: inline-block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
}

.page-top {
  background-color: #e5e2e2;
  width: 100%;
  overflow: hidden;
}

.header {
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: 75px;
  background-color: #721b1b;
  padding: 0 20px;
}

.header__inner {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: none;
}

.header__sns {
  display: none;
}

.header__logo {
  height: 3.5em;
  width: 3.5em;
}

.header .mobile-menu__btn {
  display: flex;
  flex-direction: column;
}

.header .mobile-menu__btn span {
  display: inline-block;
  width: 40px;
  height: 0;
  border-bottom: solid 2px white;
  margin-bottom: 10px;
}

.header .mobile-menu__btn span:last-child {
  margin-bottom: 0;
}

.top {
  width: 100%;
}

.about {
  padding-bottom: 40px;
  text-align: center;
}

.about__sentence {
  display: inline-block;
  width: 80vw;
  text-align: left;
}

.about__sentence > h1 {
  padding-bottom: 15px;
  font-size: 22px;
  font-weight: 600;
  color: #22314a;
}

.about__sentence > p {
  display: inline-block;
  padding-top: 15px;
  border-top: 1px solid #721b1b;
  font-size: 16px;
  line-height: 20px;
  color: #22314a;
}

.sentenceNum, .skills__sentence.sentence01::before, .skills__sentence.sentence02::before, .skills__sentence.sentence03::before {
  content: '';
  display: inline-block;
  width: 58px;
  height: 58px;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
}

.skills {
  background-color: #e5e2e2;
}

.skills__inner {
  text-align: center;
  box-sizing: border-box;
  width: 80%;
  margin: 0 auto;
  max-width: 1024px;
}

.skills__items-cover {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.skills__item {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.skills__item:nth-child(2) {
  justify-content: flex-start;
}

.skills__img {
  width: 100%;
  height: auto;
  border-radius: 3px;
  overflow: hidden;
}

.skills__sentence {
  display: inline-block;
  box-sizing: border-box;
  width: 83%;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 65px;
  text-align: left;
  color: #22314a;
  font-size: 13px;
  line-height: 15px;
  position: relative;
}

.skills__sentence.sentence01::before {
  background-image: url("/images/img01.png");
}

.skills__sentence.sentence02::before {
  background-image: url("/images/img02.png");
}

.skills__sentence.sentence03::before {
  background-image: url("/images/img03.png");
}

.pick-up__inner {
  text-align: center;
}

.footer {
  background-color: #721b1b;
  padding: 40px 0 40px 0;
}

.footer__inner {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer__logo {
  margin: 0 auto;
  height: 70px;
  width: 70px;
}

.footer__nav {
  padding-top: 20px;
}

.footer__li {
  font-size: 20px;
  line-height: 35px;
}

.footer__li a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.footer__li a:hover {
  border-bottom: solid 1px #22314a;
}

.footer__copyright {
  padding-top: 30px;
  color: #808080;
  font-size: 12px;
}

@media (min-width: 768px) {
  .swiper1 {
    height: 55vw;
  }
  .swiper2 .swiper-button-prev {
    left: 48px;
  }
  .swiper2 .swiper-button-next {
    right: 48px;
  }
  .swiper2 .swiper-button-prev::before,
  .swiper2 .swiper-button-next::before {
    font-size: 55px;
  }
  .alignLeft, .header__logo, .header__nav, .header__sns {
    margin-left: 0;
    margin-right: auto;
  }
  .title {
    font-size: 38px;
    margin-top: 55px;
    margin-bottom: 55px;
  }
  button {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .page-top {
    position: relative;
    height: 600px;
    z-index: 0;
  }
  .header {
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px 30px 120px 30px;
    width: 37vw;
    height: 100%;
    z-index: 100;
  }
  .header .mobile-menu__btn {
    display: none;
  }
  .header__inner {
    flex-wrap: wrap;
  }
  .header__logo {
    height: 100px;
    width: 100px;
  }
  .header__nav {
    display: inline-block;
    width: 100%;
    height: 250px;
  }
  .header__li {
    font-size: 14px;
    line-height: 50px;
  }
  .header__li a {
    cursor: pointer;
    text-decoration: none;
    color: white;
  }
  .header__li a:hover {
    border-bottom: solid 1px white;
  }
  .header__sns {
    display: inline-block;
    width: 100%;
  }
  .header__sns-ul {
    display: flex;
  }
  .header__sns-li {
    display: inline-block;
    list-style: none;
    padding-right: 30px;
  }
  .header__sns-li > a {
    display: inline-block;
    color: white;
    font-size: 20px;
  }
  .sns-img {
    display: inline-block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .top {
    overflow: hidden;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 75vw;
    max-height: 740px;
    z-index: 200;
  }
  .skills {
    background-color: #e5e2e2;
    width: 100%;
    position: relative;
  }
  .skills__item {
    margin-bottom: 70px;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
  }
  .skills__item:nth-child(2) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .skills__img {
    width: 48%;
  }
  .skills__sentence {
    width: 48%;
    margin-top: 100px;
    margin-bottom: 15px;
    padding-top: 20px;
    padding-left: 0;
    padding-right: 40px;
    border-top: 1px solid #22314a;
    font-size: 16px;
    line-height: 20px;
  }
  .sentenceNum, .skills__sentence.sentence01::before, .skills__sentence.sentence02::before, .skills__sentence.sentence03::before {
    width: 100px;
    height: 100px;
    top: -100px;
    left: 5px;
  }
}

@media (min-width: 1024px) {
  .mb-lg, .pick-up__inner, .pick-up .swiper-container {
    margin-bottom: 60px;
  }
  .title {
    margin-top: 75px;
    margin-bottom: 75px;
  }
  .page-top {
    height: 800px;
  }
  .header {
    padding-left: 70px;
  }
  .header__li {
    font-size: 20px;
    line-height: 65px;
  }
  .header__sns-li > a {
    font-size: 23px;
  }
  .skills__sentence {
    margin-top: 140px;
    font-size: 20px;
    line-height: 24px;
  }
  .sentenceNum, .skills__sentence.sentence01::before, .skills__sentence.sentence02::before, .skills__sentence.sentence03::before {
    width: 140px;
    height: 140px;
    top: -140px;
    left: 5px;
  }
}

@media (min-width: 1440px) {
  .page-top {
    height: 900px;
  }
}
/*# sourceMappingURL=style.css.map */